<div class="bg">
    <header>
        <a href="" class="logo">
            <img src="https://x-lines.ru/letters/i/cyrillicscript/1454/050505/28/1/4n6pbrgttzeadwcn4gypbxo.png"
                alt=""></a>
        <div class="right_header">
            <ul class="mnu_top">
                <li class="link"><a href="">Главная</a></li>
                <li class="link"><a href="">Магазин</a></li>
                <li class="link"><a href="">О Нас</a></li>
            </ul>
            <div class="btns">
                <a href="" class="btn_in">Войти</a>
                <a href="" class="btn_up">Регистрация</a>
            </div>
        </div>
    </header>
    <div class="main">
        <img class="header_img" src="../../../assets/3.png" alt="">
        <div class="dmn">
            <ul>
                <li><i class="fa-solid fa-check check"></i>Более 20 лет на рынке</li>
                <li><i class="fa-solid fa-check check"></i>Низкие цены</li>
                <li><i class="fa-solid fa-check check"></i>Широкий асортимент товара</li>
                <li><i class="fa-solid fa-check check"></i>Индивидуальный подход</li>
            </ul>
        </div>
    </div>
</div>